<div class="modal-header animated fadeIn">
    <h4 id="titulo" class="modal-title"><strong>La Persona Registrada Es:</strong></h4>
</div>
<div class="modal-body ">
    <h4 id="body" class="modal-title"><strong>El Documento De la Persona Es:{{persona.documento}}</strong></h4>
    <h4 id="body" class="modal-title"><strong>El TipoDocumento De la Persona Es:</strong></h4>
    <h4 id="body" class="modal-title"><strong>La Fecha de Nacimiento De la Persona Es:</strong></h4>
    <h4 id="body" class="modal-title"><strong>El Nombre De la Persona Es:</strong></h4>
    <h4 id="body" class="modal-title"><strong>La institucion De la Persona Es:</strong></h4>
    <h4 id="body" class="modal-title"><strong>El Nombre del Acudiente De la Persona Es:</strong></h4>
</div>