h3 {
    color: rgb(236, 105, 18);
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}

.row {
    padding-left: 140px;
}

#vacuna {
    color: white;
    background-color: rgb(236, 105, 18);
}

#vacuna:hover {
    color: white;
    background-color: rgb(206, 95, 21);
}