<div class="col-md-8 offset-md-2">
    <div class="col">
        <button type="button" class="btn btn-secondary" (click)="registerpersona()">Registrar Persona</button>
    </div>
    <h3>Registro Vacunas</h3>
    <br>

    <div class="row">
        <div class="col">
            <form action="">
                <input type="text" class="form-control" autocomplete="off" placeholder="Identificacion Persona">
            </form>
        </div>
        <div class="col">
            <button type="button" id="vacuna" class="btn btn-outline-light">Registrar Vacuna</button>
        </div>
    </div>
    <img src="assets/parcial.svg">

</div>