#titulo {
    color: rgb(236, 105, 18);
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
}

p {
    color: rgb(236, 105, 18);
    font-family: 'Architects Daughter', cursive;
    text-transform: uppercase;
}